<?XML version="1.0" encoding="GB2312" ?>
<scriptlet>
<registration
description="Class_Params"
progid="Public.Params"
version="1.00"
classid="{8D9CC880-D79F-11d2-B7C8-00C0DFE39742}">
</registration>
<public>
	<method name="Init" dispid="0">
		<parameter name="OutParams" />
	</method>
	<method name="Close">
		<parameter name="OutParams" />
	</method>
</public>
<implements type="ASP"/>
<script language="VBScript">
<![CDATA[ 
'**********
' 函数名: Contents
' 作  用: Get Params Value
'**********
Function Init(OutParams)
	Set OutParams = Server.CreateObject("Scripting.Dictionary")
	OutParams.CompareMode = 1
End Function

Sub Close(OutParams)
	Set OutParams = Nothing
End Sub
]]>
</script>
</scriptlet>
